<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Book Genere</h5>
    <nav class="my-0 ">
      <a class="p-2 text-dark" href="/home">Home</a>
      <a class="p-2 text-dark" href="/profile">Profile</a>
      <a class="p-2 text-dark" href="/Requests">Requests</a>
      <a class="p-2 text-dark" href="/achiev">Achivements</a>

      

  
  
      <a class="p-2 text-dark" href="/view_p_create">Groups</a>
      <a class="p-2 text-dark" href="/login">Logout</a>
    </nav>
  </div>