<!DOCTYPE html>
<html>
<head>
<style>
ul#menu li {
  display:inline;
}
</style>
</head>
<body style="background-color: #F4A460;height:100dp" >
<ul  id="menu">
  <li style="padding-left:800px; font-size: 40px;">Shelf</li>
  <li style="padding-left:30px; font-size: 40px;">Groups</li>
  <li style="padding-left:30px; font-size: 40px;">Bookmarks</li>
  <li style="padding-left:30px; font-size: 40px;">Insights</li>
</ul>  
</body>
</html>
